h1,
p {
  font-family: Lato;
}

body {
  background-color: #15181e;
}
.app {
  background-color: #15181e;
  width: 100%;
  min-height: 100vh;
}
.tab-nav {
  background: #26292e;
  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 0;
  min-height: 10vh;
}
.tab-link {
  margin-right: 10px;
  min-width: 100px;
  min-height: 30px;
}
.tab-nav nav {
  height: 100%;
  margin-bottom: 0;
}
.editor-container {
  min-height: 90vh;
  padding: 15px;
}
.html-text,
.css-text,
.js-text {
  min-width: 100%;
  min-height: 85vh;
  border-radius: 15px;
  padding: 1%;
  outline: none;
  border: none;
  background: transparent;
}
