h1,
p {
  font-family: Lato;
}

body {
  background-color: #15181e;
}
.app {
  background-color: #15181e;
  width: 100%;
  min-height: 100vh;
}
.tab-nav {
  background: #26292e;
  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 0;
}
.tab-link {
  margin-right: 10px;
  min-width: 100px;
  min-height: 30px;
}
.tab-nav nav {
  height: 100%;
  margin-bottom: 0;
}
